@import url(components/variables/css/variables.css);
@import url(components/button/css/button.css);
@import url(components/topbar/css/topbar.css);
@import url(components/header/css/menu.css);

* {
    padding: 0;
    margin: 0;
}

h1 {
    color: var(--main-color);
    font-size: var(--title-size);
    font-family: var(--main-font);
    height: 200vh;
}

h2 {
    color: var(--secondary-color);
    font-size: var(--subtitle-size);
    font-family: var(--text-font);
}

h3 {
    color: var(--terciary-color);
}

p {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: var(--text-size);
}

.subtext {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: var(--subtext-size);
}
