@import url(../../variables/css/variables.css);

.logo {
    max-height: 2.375rem;
    border: .1875rem solid var(--secondary-color);
    border-radius: .25rem;
}

.header {
    display: none;
}

.flexbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .625rem 2rem;
    background-color: var(--main-color);
    border-top: .125rem solid var(--secondary-color);
}

.flexbox-container.sticky-header {
    position: fixed;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
}

main.sticky-main {
    margin-top: 4.75rem;
}

.hamburguer__content {
    display: none;
}

.hamburguer__icon {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.hamburguer__content__main {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
}

.hamburguer__content__main__item {
    list-style: none;
}

.hamburguer__content__main__item a {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    background-color: var(--main-color);
    padding: 0.625rem;
    border-bottom: 0.1875rem solid var(--secondary-color);
    color: white;
    font-family: var(--text-font);
    font-size: 1rem;
    min-height: 26px;
}

.hamburguer__content__main__item a:focus {
    color: var(--secondary-color);
    background-color: var(--primary-btn-hover-bg);
}

.hamburguer__content__main__item__dropdown {
    display: none;
}

.hamburguer__content__main__item__dropdown li a {
    background-color: #630b0b;
}

.hamburguer__content__main__item__dropdown li a:focus {
    background-color: var(--hamburguer-submenu-color-focus);
    color: var(--secondary-color);
}

@media screen and (min-width: 1200px) {
    .hamburguer {
        display: none;
    }

    .header {
        display: block;
    }

    .flexbox-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .flexbox-container.sticky-header {
        position: fixed;
        width: auto;
        top: 0;
        left: 0;
        right: 0;
    }

    main.sticky-main {
        margin-top: 4.75rem;
    }

    .header__content__main {
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
        align-items: center;
        align-content: center;
        min-height: 3.375rem;
        font-size: .9375rem;
        font-family: var(--text-font);
    }

    .header__content__main__item {
        list-style: none;
    }

    .header__content__main__item a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        transition: color 0.3s;
    }

    .header__content__main__item a:hover {
        color: var(--secondary-color);
    }

    .header__content__main__item__dropdown li {
        list-style: none;
    }

    .header__content__main__item__dropdown {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0.3s, opacity 0.3s linear;
        position: absolute;
        background-color: var(--main-color);
    }

    .header__content__main__item:hover .header__content__main__item__dropdown {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
    }

    .header__content__main__item__dropdown a {
        padding: .625rem;
        transition: background-color 0.3s;
    }

    .header__content__main__item__dropdown a:hover {
        background-color: var(--primary-btn-hover-bg);
    }

    .header__content__main__item a:focus {
        color: var(--secondary-color);
        outline: none;
        box-shadow: 0 0 0 .125rem var(--main-color), 0 0 0 .25rem var(--secondary-color);
    }

    .header__content__main__item__dropdown a:focus {
        background-color: var(--primary-btn-hover-bg);
        box-shadow: 0 0 0 .125rem var(--main-color), 0 0 0 .25rem var(--secondary-color);
    }

    .header__content__main__item:focus-within .header__content__main__item__dropdown {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
    }
}